html {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20vh;
}

img {
    height: 24px;
    width: 24px;
}

.header-info {
    font-size: small;
    margin-bottom: -5px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 5vh;
}

@media only screen and (max-width: 900px) {
    .intro {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .exp-edu-container {
        flex-direction: column;
    }
    .pub-and-seminar-container {
        flex-direction: column;
    }
    body {
        background: red;
    }
}

#educatie_logo {
    position: absolute;
    top: 95vh;
    left: 1vw;
}

#artikels_logo {
    position: absolute;
    top: 95vh;
    right: 1vw;
}

.exp-edu-container {
    display: flex;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 5vw;
    gap: 15px;
}

.exp-container>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edu-container>ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pub-and-seminar-container {
    display: flex;
    justify-content: center;
    padding-right: 5vw;
    padding-left: 5vw;
    gap: 10px;
}

.pub-and-seminar-container>div>ul>li {
    margin-bottom: 15px;
}